<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="BIG5">
<title>Edit Leave Form</title>
</head>
<body>
<h1>Edit Leave Form</h1>

<a href="/logout">Log Out</a><br>
<a href="/menu">Menu</a><br>

<p th:text="${'User Id: ' + User.id}"></p>
<span>AnnualLeave Days Left: </span><span th:text="${User.annualLeaveDaysLeft}"></span><br>
<span>MedicalLeave Days Left: </span><span th:text="${User.medicalLeaveDaysLeft}"></span>

	<p th:text="${ErrorMessage}"></p>
	<form action="#" th:action="${'EditSubmit'}" th:object="${leaveForm}" method="post">
	
		<label for="leaveCategory">Leave Category</label>
		<select th:field="*{leaveCategory}" >
			<option value="Annual Leave" >Annual Leave</option>
			<option value="Compensation Leave">Compensation Leave</option>
			<option value="Medical Leave">Medical Leave</option>
		</select><br>
		
		<label for="leaveStartDate">Leave Start Date</label>
		<input type="date" th:field="*{leaveStartDate}" required/><br>
		
		<label for="leaveEndDate">Leave End Date</label>
		<input type="date"th:field="*{leaveEndDate}" required/><br>
		
		<label for="additionalReasons">Additional Reasons</label>
		<textarea th:field="*{additionalReasons}" required></textarea><br>
			
		<label for="workDissemination">Work Dissemination</label>
		<textarea th:field="*{workDissemination}"></textarea><br>
		
		<span>Overseas</span><br>
		<input type="radio" name="ifOverseas"  id ="ifOverseas_NO" value="false" checked/><label for="ifOverseas_NO">No</label><br>
		<input type="radio" name="ifOverseas"  id ="ifOverseas_YES" value="True" /><label for="ifOverseas_YES">Yes</label><br>
		
		
		<label for="contractDetail">Contract Detail</label>
		<textarea th:field="*{contractDetail}"></textarea><br>
		
		<input type="hidden" th:field="*{id}">
		<input type="hidden" th:field="*{leaveDays}">
		<input type="hidden" th:field="*{status}">
		<input type="hidden" th:field="*{submitDate}">
		
		
		<input type="submit"/>
		
	</form>

<table>
		<tr>
			<td>leaveCategory</td>
			<td>status</td>
			<td>leaveStartDate</td>
			<td>leaveEndDate</td>
			<td>leaveDays</td>
			<td>submitDate</td>
			<td>Detail</td>
		</tr>
		<tr th:each="LeaveHistory : ${HistoryLeaveList}">
			<td th:text="${LeaveHistory.leaveCategory.leaveCategory}">leaveCategory</td>
			<td th:text="${LeaveHistory.status}">status</td>
			<td th:text="${LeaveHistory.leaveStartDate}">leaveStartDate</td>
			<td th:text="${LeaveHistory.leaveEndDate}">leaveEndDat</td>
			<td th:text="${LeaveHistory.leaveDays}">leaveDays</td>
			<td th:text="${LeaveHistory.submitDate}">submitDate</td>
			<td><a th:href="${'/Employee/LeaveDetail?leaveId=' + LeaveHistory.id}">Detail</a></td>
		</tr>
	</table>

</body>
</html>