<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="BIG5">
<title>Leave Request List</title>
</head>
<body>
	<h1>Leave Request List</h1>
	<a href="/logout">Log Out</a>
	<br>
	<a href="/menu">Menu</a>
	<br>


	<table>
		<tr>
			<td>Employee</td>
			<td>leaveCategory</td>
			<td>leaveStartDate</td>
			<td>leaveEndDate</td>
			<td>leaveDays</td>
			<td>submitDate</td>
			<td>Detail</td>
		</tr>
		<tr th:each="LeaveHistory : ${LeaveRequests}">
			<td th:text="${LeaveHistory.Employee.name}">leaveCategory</td>
			<td th:text="${LeaveHistory.leaveCategory.leaveCategory}">leaveCategory</td>
			<td th:text="${LeaveHistory.leaveStartDate}">leaveStartDate</td>
			<td th:text="${LeaveHistory.leaveEndDate}">leaveEndDat</td>
			<td th:text="${LeaveHistory.leaveDays}">leaveDays</td>
			<td th:text="${LeaveHistory.submitDate}">submitDate</td>
			<td><a th:href="${'/Manager/LeaveDetail?leaveId=' + LeaveHistory.id}">Detail</a></td>
		</tr>
	</table>

</body>
</html>