<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="BIG5">
<title>Menu</title>
</head>
<body>
<h1>Menu</h1>

<a href="/logout">Log Out</a><br>
<a href="/Employee/ApplyLeave">Apply Leave</a><br>
<a th:if="${ifApproveLeave}" href="/Manager/ListLeaveRequests">Leave Requests</a><br>
<a th:if="${ifAdmin}" href="/LeaveType/leavetypes">Leave Type</a><br>
<a th:if="${ifAdmin}" href="/publicholidays">Public Holidays</a><br>
<a href="/viewhistory">View Leave History</a><br>
<a href="/viewleavereport">View Leave Report</a><br>
<a href="/viewleavebymonth">View Leave Report By Month</a><br>


<p th:text="${'User Id: ' + User.id}"></p>
<span>AnnualLeave Days Left: </span><span th:text="${User.annualLeaveDaysLeft}"></span><br>
<span>MedicalLeave Days Left: </span><span th:text="${User.medicalLeaveDaysLeft}"></span>

<table>
		<tr>
			<td>leaveCategory</td>
			<td>status</td>
			<td>leaveStartDate</td>
			<td>leaveEndDate</td>
			<td>leaveDays</td>
			<td>submitDate</td>
			<td>Detail</td>
		</tr>
		<tr th:each="LeaveHistory : ${LeaveHistory}">
			<td th:text="${LeaveHistory.leaveCategory.leaveCategory}">leaveCategory</td>
			<td th:text="${LeaveHistory.status}">status</td>
			<td th:text="${LeaveHistory.leaveStartDate}">leaveStartDate</td>
			<td th:text="${LeaveHistory.leaveEndDate}">leaveEndDat</td>
			<td th:text="${LeaveHistory.leaveDays}">leaveDays</td>
			<td th:text="${LeaveHistory.submitDate}">submitDate</td>
			<td><a th:href="${'/Employee/LeaveDetail?leaveId=' + LeaveHistory.id}">Detail</a></td>
		</tr>
	</table>

</body>
</html>